
$arfont:'Tajawal', sans-serif;
$enfont:'Cairo', sans-serif;


/*colors variables*/
$wcolor:#fff;
$mainColor:#956D47;
$shcolor:#3c331c;
$fcolor:#303030;
$Lcolor:#87743E;
$Rcolor:#c50d0d;
$greenColor:#0dc522;
$tobrown:#deac7c;
$dgrey:#333333;
$bgrey:#EEEEEE;
$ftitle:#a29082;
$ftext:#312925;
$lColor:#524438;
$tColor:#B9A89A;
$bgcolor:#FFEBCD;
$bggrey: #f6f6f6;
$blColor:#000;
$colorone: #FFEBCD;
$colorone: #A57C54;
$colorone:#613F1A;
$colorone:#faa74a;
$colorone:#524438;
$colorone: #B9A89A;
$colorone: #DFE0DF;
$colorone:#fff1cc;
$lightOrange :#ffe5b9;
$lightbink:rgba($lightOrange, 0.6);

$footer-txt:#c5b38b;



$dtcolor:#726357;


$minMobile:"(min-width:480px) and (max-width:767px)";

$float-right:right;
$float-left:left;

