.dialog,
.dialog__overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0

}

.dialog {
    position: fixed;
    z-index: 2000;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    pointer-events: none
}

.dialog__overlay {
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.90);
    opacity: 0;
    transition: opacity 0.3s
}

.dialog--open .dialog__overlay {
    opacity: 1;
    pointer-events: auto
}

.dialog__content {
    width: 50%;
    max-width: 500px;
    min-width: 290px;
    background: transparent;
    padding: 0;
    text-align: center;
    position: relative;
    z-index: 5;
    opacity: 0;
    overflow: hidden;
    /* background: url(../img/background-newsletter.jpg) center;
    background-size: cover; */
    border: 10px solid rgba(255, 255, 255, 0.34);
    -webkit-transition: all 3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: all 3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 3s cubic-bezier(0.645, 0.045, 0.355, 1)
}



.dialog--open .dialog__content {
    pointer-events: auto
}




.dialog__overlay {
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
}

.dialog.dialog--open .dialog__content,
.dialog.dialog--close .dialog__content {
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.dialog.dialog--open .dialog__content {
    -webkit-animation-name: anim-open;
    -moz-animation-name: anim-open;
    animation-name: anim-open
}

.dialog.dialog--close .dialog__content {
    -webkit-animation-name: anim-close;
    -moz-animation-name: anim-close;
    animation-name: anim-close
}

@-webkit-keyframes anim-open {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0);
        -moz-transform: translate3d(0, 50px, 0);
        -o-transform: translate3d(0, 50px, 0);
        -ms-transform: translate3d(0, 50px, 0);
        transform: translate3d(0, 50px, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@-moz-keyframes anim-open {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0);
        -moz-transform: translate3d(0, 50px, 0);
        -o-transform: translate3d(0, 50px, 0);
        -ms-transform: translate3d(0, 50px, 0);
        transform: translate3d(0, 50px, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes anim-open {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0);
        -moz-transform: translate3d(0, 50px, 0);
        -o-transform: translate3d(0, 50px, 0);
        -ms-transform: translate3d(0, 50px, 0);
        transform: translate3d(0, 50px, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes anim-close {
    0% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0);
        -moz-transform: translate3d(0, 50px, 0);
        -o-transform: translate3d(0, 50px, 0);
        -ms-transform: translate3d(0, 50px, 0);
        transform: translate3d(0, 50px, 0)
    }
}

@-moz-keyframes anim-close {
    0% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0);
        -moz-transform: translate3d(0, 50px, 0);
        -o-transform: translate3d(0, 50px, 0);
        -ms-transform: translate3d(0, 50px, 0);
        transform: translate3d(0, 50px, 0)
    }
}

@keyframes anim-close {
    0% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0);
        -moz-transform: translate3d(0, 50px, 0);
        -o-transform: translate3d(0, 50px, 0);
        -ms-transform: translate3d(0, 50px, 0);
        transform: translate3d(0, 50px, 0)
    }
}



@media only screen and (max-width: 768px) {
 
    .dialog__content {
        width: 80%;
        max-width: 80%;
        min-width: 75%
    }
    .dialog .dialog-inner {
        padding: 40px 20px 90px;
        overflow: hidden
    }
}


@media only screen and (max-width: 480px) {
    .dialog__content {
        width: 95%;
        max-width: 95%;
        min-width: 75%
    }

    .dialog .dialog-inner {
        padding: 40px 20px 50px
    }


 
}

@media screen and (max-width: 667px) and (orientation: landscape) {
   
    .dialog__content {
        width: 100%;
        max-width: 100%;
        min-width: 75%
    }
 
    .dialog .dialog-inner {
        padding: 40px 20px 50px
    }



}